$primary-color: rgb(26, 43, 72);
$linkcolor: aliceblue;

@mixin ahover {
  a {
    text-decoration: none;
    // color: rgb(240, 181, 87);
    @supports (background-clip: text) {
      background: linear-gradient(
        90deg,
        rgba(240, 181, 87, 1) 1%,
        rgba(242, 232, 97, 1) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @supports not (background-clip: text) {
      color: aliceblue;
    }
  }

  a:hover {
    text-transform: uppercase;

    text-decoration: none;
    text-emphasis: bold;
    @supports (background-clip: text) {
      background: linear-gradient(
        90deg,
        rgba(242, 232, 97, 1) 1%,
        rgba(240, 181, 87, 1) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @supports not (background-clip: text) {
      color: aliceblue;
    }
  }
}

.navbar-brand {
  margin: 8px;
}
footer {
  background: $primary-color;
  color: $linkcolor;
  margin-top: 5%;

  display: grid;
  grid-template: "PC fnav" auto "imp imp" auto/ 1fr 1fr;

  a {
    color: $linkcolor;
  }
  .important {
    grid-area: imp;
    text-align: center;
  }
  .Photocredits {
    grid-area: PC;
  }
  ul {
    li {
      list-style: none;
      text-transform: capitalize;
    }
  }

  .footernav {
    @include ahover;
    img {
      margin-left: -11px;
    }
    grid-area: fnav;
    // text-align: center;
  }
}
header {
  @include ahover;

  background: $primary-color;
  margin-bottom: 25px;
  width: 100%;
  grid-gap: 0;

  nav {
    grid-area: nav;
    ul li {
      text-align: center;
      display: inline;
      margin-left: 4.5%;
      font-family: "Germania One", sans-serif;
      font-size: 26px;

      a[href*="login"],
      a[href*="reserve"] {
        display: none;
      }
    }
  }
}
