.menu {
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
  .con {
    grid-template: "food H2" /40% 60%;
    display: grid;
    height: 100%;
    .heading {
      grid-area: H2;
      display: flex;
      justify-content: end;
      align-items: center;
      h2 {
        font-family: "Dancing script";
        font-weight: 900;
        text-transform: capitalize;
        font-size: 3rem;
      }
    }
  }
  .food {
    grid-area: food;
  }
  .food ul li {
    line-height: 6rem;
    list-style: none;
    font-family: "Bangers";
    font-size: 50px;
  }
}
#whattoeat {
  background-image: bgimg("menu");
  background-size: 100%;

  .con {
    grid-template: "H2 food" /45%;

    .food {
      display: flex;
      align-items: center;
      #t1 {
        width: 100%;
        text-align: center;
        margin-top: 220px;
        a {
          color: #f2f2f2;
          font-size: 50px;
          font-family: "Dancing script";
        }
      }
    }
    .heading {
      h2 {
        color: white;
        font-size: x-large;
        margin-left: 200px;
        font-family: "Bangers";
      }
    }
  }
}
#grill {
  background-image: bgimg("VolcanicRock");
  transform: scaleX(-1);

  .con {
    color: white;
    .heading h2 {
      margin-right: 15%;
      margin-top: 20%;
    }
  }
  h2,
  .food,
  a {
    transform: scaleX(-1);
  }
}
#sushi {
  background-image: bgimg("sushi");
  background-position: right bottom;
  background-size: 110%;

  .con {
    .heading h2 {
      font-family: "Oswald";
      text-align: center;
      margin-right: 15%;
      margin-top: 20%;
      font-size: 200px;
    }
  }
  .food ul li {
    color: white;
  }
}
#caviar {
  background-image: bgimg("caviar");
  background-position: 70% 70%;
  background-size: 110%;

  color: #f2f2f2;
  .con .heading {
    align-items: flex-start;
    h2 {
      font-size: 100px;
      margin: 50px;
    }
  }
}
#platters {
  background-image: bgimg("Platters");
  background-size: 100%;
  color: white;
  .con {
    .heading {
      align-items: flex-end;
      h2 {
        margin: 50px;
        font-size: 100px;
      }
    }
  }
}
#chef {
  background-image: bgimg("chef");
  background-size: 100%;
  .heading h2 {
    font-size: 100px;
  }
}
