@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Amatic+SC|Germania+One|Indie+Flower|Permanent+Marker|Gochi+Hand|Oswald|East+Sea+Dokdo|Bangers");
.menu {
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
}

.menu .con {
  grid-template: "food H2" /40% 60%;
  display: -ms-grid;
  display: grid;
  height: 100%;
}

.menu .con .heading {
  grid-area: H2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .con .heading h2 {
  font-family: "Dancing script";
  font-weight: 900;
  text-transform: capitalize;
  font-size: 3rem;
}

.menu .food {
  grid-area: food;
}

.menu .food ul li {
  line-height: 6rem;
  list-style: none;
  font-family: "Bangers";
  font-size: 50px;
}

#whattoeat {
  background-image: url("../assets/Images/menupic/menu.jpg");
  background-size: 100%;
}

#whattoeat .con {
  grid-template: "H2 food" /45%;
}

#whattoeat .con .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whattoeat .con .food #t1 {
  width: 100%;
  text-align: center;
  margin-top: 220px;
}

#whattoeat .con .food #t1 a {
  color: #f2f2f2;
  font-size: 50px;
  font-family: "Dancing script";
}

#whattoeat .con .heading h2 {
  color: white;
  font-size: x-large;
  margin-left: 200px;
  font-family: "Bangers";
}

#grill {
  background-image: url("../assets/Images/menupic/VolcanicRock.jpg");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#grill .con {
  color: white;
}

#grill .con .heading h2 {
  margin-right: 15%;
  margin-top: 20%;
}

#grill h2,
#grill .food,
#grill a {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#sushi {
  background-image: url("../assets/Images/menupic/sushi.jpg");
  background-position: right bottom;
  background-size: 110%;
}

#sushi .con .heading h2 {
  font-family: "Oswald";
  text-align: center;
  margin-right: 15%;
  margin-top: 20%;
  font-size: 200px;
}

#sushi .food ul li {
  color: white;
}

#caviar {
  background-image: url("../assets/Images/menupic/caviar.jpg");
  background-position: 70% 70%;
  background-size: 110%;
  color: #f2f2f2;
}

#caviar .con .heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#caviar .con .heading h2 {
  font-size: 100px;
  margin: 50px;
}

#platters {
  background-image: url("../assets/Images/menupic/Platters.jpg");
  background-size: 100%;
  color: white;
}

#platters .con .heading {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#platters .con .heading h2 {
  margin: 50px;
  font-size: 100px;
}

#chef {
  background-image: url("../assets/Images/menupic/chef.jpg");
  background-size: 100%;
}

#chef .heading h2 {
  font-size: 100px;
}

.navbar-brand {
  margin: 8px;
}

footer {
  background: #1a2b48;
  color: aliceblue;
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  grid-template: "PC fnav" auto "imp imp" auto/ 1fr 1fr;
}

footer a {
  color: aliceblue;
}

footer .important {
  grid-area: imp;
  text-align: center;
}

footer .Photocredits {
  grid-area: PC;
}

footer ul li {
  list-style: none;
  text-transform: capitalize;
}

footer .footernav {
  grid-area: fnav;
}

footer .footernav a {
  text-decoration: none;
}

@supports (background-clip: text) {
  footer .footernav a {
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, #f0b557), to(#f2e861));
    background: linear-gradient(90deg, #f0b557 1%, #f2e861 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@supports not (background-clip: text) {
  footer .footernav a {
    color: aliceblue;
  }
}

footer .footernav a:hover {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
}

@supports (background-clip: text) {
  footer .footernav a:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, #f2e861), to(#f0b557));
    background: linear-gradient(90deg, #f2e861 1%, #f0b557 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@supports not (background-clip: text) {
  footer .footernav a:hover {
    color: aliceblue;
  }
}

footer .footernav img {
  margin-left: -11px;
}

header {
  background: #1a2b48;
  margin-bottom: 25px;
  width: 100%;
  grid-gap: 0;
}

header a {
  text-decoration: none;
}

@supports (background-clip: text) {
  header a {
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, #f0b557), to(#f2e861));
    background: linear-gradient(90deg, #f0b557 1%, #f2e861 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@supports not (background-clip: text) {
  header a {
    color: aliceblue;
  }
}

header a:hover {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
}

@supports (background-clip: text) {
  header a:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, #f2e861), to(#f0b557));
    background: linear-gradient(90deg, #f2e861 1%, #f0b557 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@supports not (background-clip: text) {
  header a:hover {
    color: aliceblue;
  }
}

header nav {
  grid-area: nav;
}

header nav ul li {
  text-align: center;
  display: inline;
  margin-left: 4.5%;
  font-family: "Germania One", sans-serif;
  font-size: 26px;
}

header nav ul li a[href*="login"],
header nav ul li a[href*="reserve"] {
  display: none;
}

section.contact {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  border-radius: 15%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: black;
  overflow: hidden;
  padding: 50px;
  /* Firefox */
  /* Begin Left Contact Page */
  /* Begin Right Contact Page */
  /* Location, Phone, Email Section */
}

section.contact .section-header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 50px;
  letter-spacing: 6px;
  color: white;
  margin-bottom: 25px;
}

section.contact .contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

section.contact .form-group .col-sm-12 {
  display: inline;
}

section.contact .form-group {
  margin: 15px 0;
}

section.contact .form-group div {
  margin: 0;
  padding: 0;
}

section.contact fieldset div:first-child {
  margin-top: 0;
}

section.contact #date {
  color: white;
  background: black url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

section.contact #date::-webkit-inner-spin-button {
  display: none;
}

section.contact #date::-webkit-calendar-picker-indicator {
  opacity: 0;
}

section.contact #phone::-webkit-outer-spin-button,
section.contact #phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.contact #phone {
  -moz-appearance: textfield;
}

section.contact .form-horizontal {
  float: left;
  margin-right: 50px;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

section.contact .form-control,
section.contact textarea {
  max-width: 400px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
}

section.contact .send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

section.contact .button {
  width: 400px;
  height: 34px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

section.contact .send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

section.contact .direct-contact-container {
  max-width: 400px;
  float: right;
  margin: 0;
}

section.contact iframe {
  border: none;
}

section.contact .contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

section.contact .list-item {
  line-height: 4;
  color: white;
}

section.contact .contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: white;
}

section.contact a {
  color: #bbb;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

section.contact a:hover {
  color: #fff;
  text-decoration: none;
}

section.contact hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  #contact {
    height: 1000px;
  }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container,
  .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
  }
  .section-header {
    font-size: 50px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  .name,
  .email,
  textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

#msform {
  width: 850px;
  margin: auto;
  text-align: center;
}

#msform fieldset {
  border-radius: 15%;
  padding: 50px;
  background: white;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#msform .section-header h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 50px;
  letter-spacing: 6px;
  color: black;
  margin-bottom: 25px;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input:not([type="button"]),
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

#come {
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

.mr-auto {
  display: contents;
  text-align: left;
}

figure {
  grid-area: logo;
  margin: 1em;
}

figure #logo {
  width: 150px;
  /* height: 100px; */
  vertical-align: top;
}

figure figcaption {
  display: none;
}

#homepagediv {
  margin-left: 15%;
  margin-right: 15%;
}

#homepagediv h3 {
  font-family: "Gochi Hand", cursive;
  font-size: 23px;
}

#homepagediv h1 {
  font-family: "Permanent Marker", cursive;
}

footer {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.item img {
  margin-left: 1.25%;
  margin-right: 1.25%;
}

footer {
  padding: 2rem;
}

#howto {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.about {
  display: -ms-grid;
  display: grid;
  grid-template: "img   h2" 2.5em "img  txt" / 1fr 2fr;
  grid-gap: 2rem;
}

.about p {
  font-family: "Indie Flower", sans-serif;
  -webkit-padding-end: 10%;
          padding-inline-end: 10%;
}

.about img {
  grid-area: img;
  margin-bottom: 100px;
}

.about h2 {
  grid-area: h2;
}

.about p {
  margin-top: 10px;
  font-size: 25px;
  grid-area: txt;
  margin-bottom: 50px;
}

.about #notallowed {
  display: block;
  line-break: auto;
  font-size: 23px;
  font-family: "Gochi Hand", cursive;
}

.about h1,
.about h2 {
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 0;
}

#reach_us {
  margin-top: 5rem;
}

/* tablet */
@media (max-width: 1200px) and (min-width: 710px) {
  footer {
    grid-template: " PC fnav" "imp";
  }
  figure {
    position: relative;
    margin: auto;
  }
  nav ul li {
    padding: 20px;
    display: list-item;
    text-align: center;
    /* border-bottom: 1px solid grey; */
    padding-left: 0;
  }
  header {
    grid-template: "logo" "nav" / 1fr;
  }
  .about {
    grid-template: "img" auto "h2" auto "txt" auto/ 1fr;
  }
  .about img {
    margin-top: 100px;
    margin-bottom: 0%;
    width: 50%;
    margin: auto;
  }
  .about h2,
  .about p {
    margin: auto;
  }
  .about h2 {
    margin: 0;
  }
}

/* laptop/tablet half-way */
@media (max-width: 1380px) and (min-width: 1111px) {
  nav ul li {
    margin: 0;
    padding-left: 4%;
  }
  .about p {
    -webkit-padding-end: 10%;
            padding-inline-end: 10%;
  }
  .about img {
    width: 90%;
    margin: auto;
  }
}

/* mobile only */
@media (max-width: 709px) and (min-width: 1px) {
  * {
    zoom: 100%;
  }
  #reserve {
    border: none;
  }
  footer {
    grid-template: " PC" "fnav" "imp"/ 1fr;
    text-align: center;
  }
  footer li {
    list-style: none;
  }
  figure {
    margin: auto;
    padding: 0;
  }
  nav {
    overflow: hidden !important;
  }
  nav ul li {
    overflow: hidden !important;
    font-weight: lighter;
    padding: 20px;
    display: list-item;
    text-align: center;
    border-bottom: 1px solid white;
    padding-left: 0;
  }
  nav ul li a:hover {
    text-decoration: underline;
    color: orange;
  }
  header {
    grid-template: "logo" "nav"/ 1fr;
  }
  .about {
    margin: auto;
    overflow: hidden;
    grid-template: "img" auto "h2" 3em "txt" auto/ 1fr;
  }
  .about img {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media (max-width: 1200px) {
  .navbar-brand {
    margin: auto;
  }
}

#homepage {
  /* Slideshow container */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* On smaller screens, decrease text size */
}

#homepage * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#homepage body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

#homepage .mySlides {
  display: none;
}

#homepage img {
  vertical-align: middle;
}

#homepage .carousel-indicators li {
  background-color: white;
  height: 25px;
}

#homepage .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#homepage .prev,
#homepage .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#homepage .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#homepage .prev:hover,
#homepage .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#homepage .mySlides img {
  width: 100% !important;
}

#homepage .text {
  background: #7171718e;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

#homepage .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#homepage .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

#homepage .active,
#homepage .dot:hover {
  background-color: #717171;
}

#homepage .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  #homepage .prev,
  #homepage .next,
  #homepage .text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */