include ./link.pug
header
  nav.navbar-nav.navbar-expand-xl
    a(href='./index')
      figure.navbar-brand
        img#logo(src='../assets/logo.png' alt='ERCENCI')
        figcaption ERCENCI
    button.navbar-toggler.ml-auto.custom-toggler(data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      svg.bi.bi-list(xmlns='http://www.w3.org/2000/svg' width='56' height='56' fill='white' viewBox='0 0 16 16')
        path(fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z')
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        +link("header")

