doctype html
html
  -const title={t:"restaurant Erkenci ",desc:"The world largest underwater restuarant. We are renowned amongst our customers to serve the best seafood in the world. "};
  include inc/head.pug
  body#homepage
    include inc/header.pug
    include inc/indexmain.pug
    include inc/footer.pug
